:root {
    --main-color: #6DB6C5;
    --main-transition: .4s;
}

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(../Images/1.jpg);
    background-size: cover;
}

.vh-25 {
    height: 25vh;
}



.w-50px {
    width: 50px;
    height: 50px;
}

h1 {
    width: fit-content;
}

.navbar .navbar-collapse .navbar-nav li {
    cursor: pointer;
    font-size: 12px;
    color: white !important;
    font-weight: bold;
    transition: var(--main-transition);
}

.navbar .navbar-collapse .navbar-nav li:hover {
    color: var(--main-color);
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
}

.navbar {
    position: sticky;
    top: 0px;
    z-index: 111;
    margin: auto;
    margin-top: -41px;
}

.w-lg-75 {
    @media (min-width: 992px) {
        width: 75% !important;

    }
}



.navbar .navbar-collapse .navbar-nav li.active {
    color: lightgray !important;
}



/* =========================================== */

.cards {
    cursor: pointer;
    transition: var(--main-transition);
    filter: grayscale();
}

.cards:hover {
    transform: scale(1.05);
    filter: none;
}

.card-img {
    border-radius: 10px 10px 0px 0px;
}

.main-card {
    border-radius: 10px;

}

.card-text {
    height: 125px;
}

.card-bottom button {
    font-size: 10px;
}

.modalX {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: var(--main-color);
    z-index: 3333;
}

.modalX .close-btn {
    cursor: pointer;
}

.modalX .details-text {
    font-size: 13px;
}

@media (max-width: 767px) {
    .modalX {
        overflow-y: scroll;
    }

    .modalX .details-text {
        font-size: 14px;
        line-height: 25px;
    }
}

.modalX .min-list {
    font-size: 12px;
    margin: 8px 0px;
}


.loading-page {
    display: flex;
    z-index: 9999999;
}

.spinner-grow {
    transform: scale(4);
}

.spinner-grow.text-warning {
    transform: scale(8);
}